<template>
  <transition appear enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
    <!-- Adding a class conditionally -->
    <div :class="{ 'q-mt-lg' : !settings.showTasksInOneList }">
      <list-header v-if="!settings.showTasksInOneList" bg-color="bg-green-4">Completed</list-header>
      <q-list bordered separator>
        <task v-for="(task, key) in tasksCompleted" :key="key" :task="task" :id="key"></task>
      </q-list>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["tasksCompleted"],
  computed: {
    ...mapGetters("settings", ["settings"])
  },
  components: {
    task: require("components/Tasks/Task.vue").default,
    "list-header": require("components/Shared/ListHeader.vue").default
  }
};
</script>

<style>
</style>