<template>
  <!-- Bind class and use a ternary if statement -->
  <q-item
    :class="!task.completed ? 'bg-orange-1' : 'bg-green-1'"
    v-ripple
    v-touch-hold:1000.mouse="showEditTaskModal"
    clickable
    @click="updateTask({ id: id, updates: { completed: !task.completed } })"
  >
    <q-item-section side top>
      <!-- 
          When you click on the checkbox (and not elsewhere on the task item)
          you'll get the error "Error: [vuex] do not mutate vuex store state
          outisde mutation handlers." *

          To fix this, just add a class of no-pointer-events to the QCheckBox. Also, we
          don't need the v-model directive, so this can be replaced with :value **
      -->
      <q-checkbox :value="task.completed" class="no-pointer-events" />
    </q-item-section>
    <q-item-section>
      <q-item-label
        :class="{ 'text-strikethrough' : task.completed }"
        v-html="$options.filters.searchHighlight(task.name, search)"
      ></q-item-label>
    </q-item-section>

    <q-item-section v-if="task.dueDate" side>
      <div class="row">
        <div class="column justify-center">
          <q-icon class="q-mr-xs" name="event" size="24px" />
        </div>

        <div class="column">
          <q-item-label class="row justify-end" caption>{{task.dueDate | niceDate}}</q-item-label>
          <q-item-label class="row justify-end" caption>
            <small>{{taskDueTime}}</small>
          </q-item-label>
        </div>
      </div>
    </q-item-section>
    <q-item-section side>
      <!-- click.stop modifier prevents this event to propagate to parent elements  -->
      <div class="row">
        <q-btn @click.stop="showEditTaskModal" flat round dense color="primary" icon="edit"></q-btn>
        <q-btn @click.stop="promptToDelete(id)" flat round dense color="red" icon="delete"></q-btn>
      </div>
    </q-item-section>

    <q-dialog v-model="showEditTask">
      <edit-task :task="task" :id="id" @close="showEditTask=false" />
    </q-dialog>
  </q-item>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { date } from "quasar";

export default {
  data() {
    return {
      showEditTask: false
    };
  },
  props: ["task", "id"],
  computed: {
    ...mapState("tasks", ["search"]),
    ...mapGetters("settings", ["settings"]),
    taskDueTime() {
      if (this.settings.show12HourTimeFormat) {
        return date.formatDate(this.task.dueDate + ' ' + this.task.dueTime, "h:mmA");
      } else {
        return this.task.dueTime;
      }
    }
  },
  methods: {
    ...mapActions("tasks", ["updateTask", "deleteTask"]),
    promptToDelete(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Really Delete",
          ok: {
            push: true
          },
          cancel: {
            color: "negative"
          },
          persistent: true
        })
        .onOk(() => {
          this.deleteTask(id);
        });
    },
    showEditTaskModal() {
      this.showEditTask = true;
    }
  },
  filters: {
    niceDate(value) {
      return date.formatDate(value, "MMM D");
    },
    searchHighlight(value, search) {
      // if (search) {
      //   return value.replace(
      //     search,
      //     '<span class="bg-yellow-6">' + search + "</span>"
      //   );
      // }
      if (search) {
        // 'i' flag in reg exp means insensitive for cases
        // 'g' flag means global, finds all occurences
        let searchRegExp = new RegExp(search, "ig");
        return value.replace(searchRegExp, match => {
          return '<span class="bg-yellow-6">' + match + "</span>";
        });
      }
      return value;
    }
  },
  components: {
    "edit-task": require("components/Tasks/Modals/EditTask.vue").default
  }
};
</script>