<template>
  <q-select
    class="col q-ml-sm"
    filled
    v-model="sortBy"
    emit-value
    map-options
    :options="options"
    label="Sort by"
    stack-label
  />
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      options: [
        {
          label: "Name",
          value: "name"
        },
        {
          label: "Date",
          value: "dueDate"
        }
      ]
    };
  },
  computed: {
    ...mapState("tasks", ["sort"]),
    sortBy: {
      get() {
        return this.sort;
      },
      set(value) {
          this.setSort(value);
      }
    }
  },
  methods: {
    ...mapActions("tasks", ["setSort"])
  }
};
</script>

<style scoped>
/* scoped attr is to use these styles only in this component */
.q-select {
  flex: 0 0 112px;
}
</style>