<template>
  <q-page padding>
    <ul>
      <task
        v-for="(task, index) in tasks"
        :key="task.id"
        :task="task"
        :index="index"
      >{{ task.name }}</task>
      <!-- 
        Two options for passing data to components
        1 - with props eg  :task="task" and in component data  props: ['task', 'index']
        2 - with slots eg  > {{ task.name }} </component> and in component 
      -->
    </ul>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      tasks: [
        {
          id: 1,
          name: "Got to shop",
          dueDate: "2019/05/12",
          dueTime: "18:30"
        },
        {
          id: 2,
          name: "Get bananas",
          dueDate: "2019/05/12",
          dueTime: "18:30"
        },
        {
          id: 3,
          name: "Get apples",
          dueDate: "2019/05/12",
          dueTime: "18:30"
        }
      ]
    };
  },
  methods: {
    deleteTask(index) {
      this.tasks.splice(index, 1);
    }
  },
  components: {
    task: require("components/Task.vue").default
  }
};
</script>

<style>
</style>