<template>
  <q-page padding>
    <button style="position: absolute; right: 10px" @click="counter++">{{ counter }}</button>
    <!-- <input v-model="message" @keyup="handleKeyup"> -->
    <input
      v-model="message"
      @keyup.esc="clearMessage"
      @keyup.enter="alertMessage"
      v-autofocus
      :class="{ 'error' : message.length > 22 }"
      :style="errorStyle"
      ref="messageInput"
    />
    <!-- instead of using v-bind: only use : -->
    <button @click="clearMessage">Clear</button>
    <div>{{ message.length }}</div>
    <!-- <h5 class="border-grey" v-show="message.length">{{ message }}</h5> -->
    <h5 class="border-grey" v-if="message.length">{{ message }}</h5>
    <h6 v-else>No message entered!</h6>
    <hr />
    <p>Uppercase message: {{ messageUppercase }}</p>
    <p>Lowercase message: {{ message | messageLowercase }}</p>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      message: "...!",
      counter: 0
    };
  },
  computed: {
    /**
     * In computed you have access to everything in this export
     * For example you canuse this.counter inside messageUppercase
     */
    messageUppercase() {
      return this.message.toUpperCase() + " (" + this.counter + ")";
    },
    errorStyle() {
      if (this.message.length > 22) {
        return {
          'color' : 'red',
          'background' : 'pink'
        }
      }
    }
  },
  methods: {
    clearMessage() {
      this.message = "";
    },
    // handleKeyup(e) {
    //   console.log(e);
    //   if (e.keyCode == 27) {
    //     this.clearMessage();
    //   } else if (e.keyCode == 13) {
    //     this.alertMessage();
    //   }
    // },
    alertMessage() {
      alert(this.message);
    }
  },
  filters: {
    /**
     * In filters you dont have access any data or methods in this export, all you can do is accept an input value and return
     * Most of the time you use computed but in formatting dates for example filters are better to use
     */
    messageLowercase(value) {
      return value.toLowerCase();
    }
  },
  directives: {
    autofocus: {
      inserted(el) {
        el.focus();
      }
    }
  },
  mounted() {
    /**
     * Instead of using refs in an application, rather try to use native vue.js features like v-bind
     */
    console.log(this.$refs);
    this.$refs.messageInput.className = 'bg-green';
  }
};

/**
 * Lifecycle Hooks
 * beforeCreate()
 * created()
 * beforeMount()
 * mounted(), this is the one you use most of the time.
 * 
 * beforeUpdate()
 * updated()
 * 
 * beforeDestroy()
 * destroyed()
 */


</script>

<style>
.border-grey {
  border: 1px solid;
}

input,
button {
  font-size: 23px;
}

.error {
  color: red;
  background: pink;
}
</style>