<template>
  <q-page padding>
    <q-btn color="primary" flat icon="chevron_left" label="back" to="/settings"></q-btn>
    <h5>How to use Awesome Todo</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima, autem alias quia laborum similique assumenda! Eum suscipit, quia doloremque distinctio rerum repudiandae voluptatum ut soluta molestias, nisi, assumenda animi.</p>
  </q-page>
</template>

<script>
export default {};
</script>

<style>
</style>