<template>
  <div class="row q-mb-sm">
    <q-input
      class="col"
      outlined
      label="Due Date"
      :value="dueDate"
      @input="$emit('update:dueDate', $event)"
    >
      <template v-slot:append>
        <q-icon v-if="dueDate" @click="$emit('clear')" name="close" class="cursor-pointer" />
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date :value="dueDate" @input="updateDueDate" />
            <!-- @input="$emit('update:dueDate', $event); $refs.qDateProxy.hide();" -->
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<script>
export default {
  props: ["dueDate"],
  methods: {
    updateDueDate(e) {
      this.$emit("update:dueDate", e);
      this.$refs.qDateProxy.hide();
    }
  }
};
</script>

<style>
</style>