<template>
  <div class="row q-mb-sm">
    <q-input
      class="col"
      outlined
      autofocus
      v-select-all
      clearable
      ref="name"
      label="Task Name"
      @input="$emit('update:name', $event)"
      :value="name"
      :rules="[val => !!val || 'Doldurulması zorunlu alan!']"
    />
  </div>
</template>

<script>
import { selectAll } from "src/directives/directive-select-all";

export default {
  props: ["name"],
  directives: {
    selectAll
  }
};
</script>

<style>
</style>