<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions('settings', ['getSettings']),
    ...mapActions('auth', ['handleAuthStateChange'])
  },
  mounted() {
    this.getSettings();
    this.handleAuthStateChange();
  }
};
</script>

<style>
/* This is how to create style classes */
.text-strikethrough {
  text-decoration: line-through;
}
</style>
