<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title class="absolute-center">Awesome Todo</q-toolbar-title>

        <q-btn
          v-if="!loggedIn"
          flat
          class="absolute-right"
          icon-right="account_circle"
          label="Login"
          to="/auth"
        ></q-btn>

        <q-btn
          v-else
          class="absolute-right"
          flat
          icon-right="account_circle"
          label="Logout"
          @click="logoutUser"
        ></q-btn>
      </q-toolbar>
    </q-header>

    <q-footer>
      <q-tabs>
        <q-route-tab
          v-for="nav in navs"
          :key="nav.id"
          :to="nav.to"
          :icon="nav.icon"
          :label="nav.label"
        />
      </q-tabs>
    </q-footer>

    <q-drawer
      v-model="leftDrawerOpen"
      :breakpoint="767"
      :width="250"
      show-if-above
      bordered
      content-class="bg-primary"
    >
      <q-list dark>
        <q-item-label header>Navigation</q-item-label>
        <q-item v-for="nav in navs" :key="nav.id" clickable exact :to="nav.to" class="text-grey-4">
          <q-item-section avatar>
            <q-icon :name="nav.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{nav.label}}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";
import { mapState, mapActions } from "vuex";

export default {
  name: "MainLayout",

  components: {
    EssentialLink
  },

  computed: {
    ...mapState("auth", ["loggedIn"])
  },

  methods: {
    ...mapActions("auth", ["logoutUser"])
  },

  data() {
    return {
      leftDrawerOpen: false,
      navs: [
        {
          id: 0,
          label: "Todo",
          icon: "list",
          to: "/"
        },
        {
          id: 1,
          label: "Settings",
          icon: "settings",
          to: "/settings"
        },
        {
          id: 2,
          label: "About",
          icon: "info",
          to: "/about"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
// To hide footer in desktop app and only show in mobile apps
@media screen and (min-width: 768px) {
  .q-footer {
    display: none;
  }
}

// Nested classes is from SCSS
// To override active drawer item
.q-drawer {
  .q-router-link--exact-active {
    color: white !important;
    font-weight: bold;
  }
}
</style>