<template>
  <form @submit.prevent="submitForm">
    <div class="row q-mb-md">
      <q-banner class="bg-grey-3 col">
        <template v-slot:avatar>
          <q-icon name="account_circle" color="primary" />
        </template>
        {{ tab | titleCase }} to access your Todos anywhere.
      </q-banner>
    </div>
    <div class="row q-mb-md">
      <q-input
        class="col"
        label="Email"
        ref="email"
        outlined
        v-model="formData.email"
        stack-label
        lazy-rules
        :rules="[ val => isValidEmailAddress(val) || 'Please enter a valid email address']"
      />
    </div>
    <div class="row q-mb-md">
      <q-input
        class="col"
        label="Password"
        type="password"
        ref="password"
        outlined
        v-model="formData.password"
        stack-label
        lazy-rules
        :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters']"
      />
    </div>
    <div class="row">
      <q-space />
      <q-btn color="primary" :label="tab" type="submit"></q-btn>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: ["tab"],
  data() {
    return {
      formData: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions("auth", ["registerUser", "loginUser"]),
    submitForm() {
      this.$refs.email.validate();
      this.$refs.password.validate();
      if (!this.$refs.email.hasError && !this.$refs.password.hasError) {
        if (this.tab == "login") {
          console.log("login user");
          this.loginUser(this.formData);
        } else {
          console.log("register user");
          this.registerUser(this.formData);
        }
      }
    },
    isValidEmailAddress(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }
  },
  filters: {
    titleCase(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>

<style>
</style>